<nav class="{{ include.class }}">
  <h1><a href="index.html">{{ site.title }}</a></h1>
  <div class="container-menu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</nav>
<div class="menu-show toggle-nav">
  <ul>
    <li><a href="https://colorlessenergy.github.io/">About</a></li>
    <li><a href="https://colorlessenergy.github.io/">Portfolio</a></li>
    <li><a href="http://leagueoflegends.wikia.com/wiki/Lee_Sin">More Info</a></li>
    <li><a href="contact.html">contact</a></li>
  </ul>
</div>
