<!-- using aside since it is extra information -->

<aside>
  <!-- content  -->
  <div>
    <h2>Lee Sin</h2>
    <h2>the Blind Monk</h2>
    <p>
      Lee sin is a really strong character that makes flashy plays. There are very
      few League of legends pros that can play this champ to the maximum potentional.
      Imaqtpie is a revolutionary Leesinger god. <span> rush <span>
    </p>
  </div>
  <!-- image bottom right of div -->
  <div>
    <img src="images/dragonfistleesin.jpg" alt="dragon fist leesin">
  </div>
</aside>
